<!DOCTYPE html>
<html>
<head>
    <title>Python Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<table CellPadding='0' border='0' CellSpacing='0'
       style='text-align:left;font-size:10pt;font-family:tahoma;font-weight:bold'>
    <tr height='20px'>
        <td colspan='3' valign='top'>
            <table>
                <tr>
                    <td width='5px'></td>
                    <td width='30px' valign='top'>
                        <IMG src='App_Themes/Standard/Images/Learning.gif' width='30' height='42'/>
                    </td>
                    <td align='left'><span style='font-size:11pt ;font-weight:bold;color:#ffffff'>" + tenMH + "</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height='20px'>
        <td width='40px'></td>
        <td colspan='2'></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td>" + nums[0] + " :</td>
        <td><span style='color:Teal'>" + maMH + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td>" + nums[1] + " :</td>
        <td><span style='color:Teal'>" + tenMH + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td width='120px'>" + nums[2] + " :</td>
        <td><span style='color:Teal'>" + Phong + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td>" + nums[3] + " :</td>
        <td><span style='color:Teal'>" + Thu + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td width='120px'>" + nums[4] + " :</td>
        <td><span style='color:Teal'>" + tbd + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td width='120px'>" + nums[5] + " :</td>
        <td><span style='color:Teal'>" + st + "</span></td>
    </tr>
    <tr>
        <td width='40px'></td>
        <td>" + nums[6] + " :</td>
        <td><span style='color:Teal'>" + giaoVien.split('_').join(' ') + "</span></td>
    </tr>
    <tr><td width='40px'></td><td>" + nums[9] + " :</td><td><span style='color:Teal'>" + maLop + "</span></td></tr>
    <tr>
        <td width='40px'></td>
    </tr>
</table>
</body>
</html>
